/* *{
    padding: 0;
} */

.auth-title::after{
    display: none;
}

.wrapper {
  display: flex;
  height: 100vh;          
  background: #0b0b0b;
  color: #fff;
  overflow: hidden;    
}

.sidebar {
  width: 240px;
  background: #111;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100vh;        
  position: sticky;
  top: 0;
}

.main-content {
  flex: 1;
  height: 100vh;    
  overflow-y: auto;   
  border-left: 2px solid #00ff99;
}

.main-content::-webkit-scrollbar {
  width: 10px;
}

.main-content::-webkit-scrollbar-track {
  background: #0b0b0b; 
}

.sidebar a {
  color: #aaa;
  text-decoration: none;
  padding: 10px;
  border-radius: 6px;
}

.sidebar a.active {
  background: #1fdf64;
  color: #000 !important;
}

.logo{
  font-size: 24px;
  width: auto;
}

.main {
  flex: 1;
  padding: 32px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: #111;
  border: 1px solid #222;
  padding: 20px;
  border-radius: 10px;
}