.plans {
  background: #0b0b0b;
  padding: 100px 20px;
  color: #fff;
}

.plans-container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.plans h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.plans h2 span {
  color: #00ff99;
}

.plans-subtitle {
  color: #aaa;
  margin-bottom: 60px;
  font-size: 1.1rem;
}

.plans-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.plan-card {
  background: #151515;
  border-radius: 18px;
  padding: 40px 30px;
  text-align: left;
  position: relative;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.plan-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 30px rgba(0, 255, 153, 0.15);
}

.plan-card.popular {
  border: 2px solid #00ff99;
}

.badge {
  position: absolute;
  top: -14px;
  right: 20px;
  background: #00ff99;
  color: #000;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 600;
}

.price {
  font-size: 2.2rem;
  margin: 15px 0;
  color: #00ff99;
}

.price span {
  font-size: 0.9rem;
  color: #aaa;
}

.plan-card ul {
  list-style: none;
  padding: 0;
  margin: 25px 0;
}

.plan-card ul li {
  margin-bottom: 12px;
  color: #ccc;
}

.plan-btn {
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  border: 1px solid #00ff99;
  background: transparent;
  color: #00ff99;
  font-weight: 600;
  cursor: pointer;
}

.plan-btn.primary {
  background: #00ff99;
  color: #000;
}

.plan-btn:hover {
  opacity: 0.9;
  background-color: #00ff99;
  color: #0b0b0b;
  transition: 0.3s ease-in-out;
}

.plan-btn.primary:hover{
  background-color: transparent;
  color: #00ff99;
}

@media (max-width: 1000px) {
  .plans-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .plans-grid {
    grid-template-columns: 1fr;
  }

  .plans h2 {
    font-size: 2.4rem;
  }
}
